block content
    script(src="/javascripts/jquery.min.js")
    script(src="/plugins/bootstrap/js/bootstrap.min.js")
    script(src="/plugins/venobox/venobox.min.js")
    script(src="/javascripts/venobox.js")
    script(src="/plugins/datatables/jquery.dataTables.js")
    script(src="/plugins/datatables/dataTables.bootstrap4.js")
    script(src="/plugins/datatables/datatables-demo.js")