block content

nav(class="navigation shadow-sm")
    div(class="container")
        div(class="float-left logo")
          a(class="navbar-brand" href="/") Respondant
        div(class="float-right social-media")
          ul
            li #[a(href="#") #[i(class="fa fa-github")]]
            li #[a(href="#") #[i(class="fa fa-twitter")]]
            li #[a(href="#") #[i(class="fa fa-linkedin")]]
        div(class="clearfix")